.home {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
}

.home-row {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.home-container {
    width: 100%;
    margin-bottom: -150px;
}

.home-banner {
    width: 1300px;
    margin-top: 30px;
    object-fit: contain;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}

@media screen and (max-width: 767px) {
    .home {
        max-width: 767px;
    }

    .home-banner {
        width: 380px;
    }
}
