.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(62, 75, 101, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    width: 70px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 0;
}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header-searchInput {
    height: 10px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-searchIcon {
    padding: 4px;
    height: 22px !important;
    background-color: gold;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}

@keyframes backgroundColor {
    0% {background-color: rgb(114, 42, 173);}
    30% {background-color: rgb(165, 85, 230);}
    60% {background-color: rgb(214, 163, 255);}
    100% {background-color: rgb(113, 19, 125);}
}

.header-option {
    display: flex;
    flex-direction: column;
    margin : 0 10px;
    color: rgb(63, 0, 115);
}

.header-option:hover {
    animation-name: backgroundColor;
    animation-duration: 1s;
}

.header-optionCart {
    display: flex;
    align-items: center;
    color: rgb(63, 0, 115);
}

.header-optionLine-one {
    font-size: 14px;
}

.header-optionLine-two {
    font-size: 24px;
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    .header {
        height: 100px;
        display: block;
    }

    .header-logo {
        float: left;
        width: 50px;
        margin: 0 10px;
    }

    .header-searchInput {
        margin-bottom: 15px;
        float: right;
        width: 100%;
    }

    .header-searchIcon {
        margin-bottom: 15px;
    }

    .header-option {
        margin: 0 6px;
    }

    .header-optionLine-one {
        font-size: 8px;
    }
    
    .header-optionLine-two {
        font-size: 16px;
    }
}
