.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct-info {
    padding-left: 20px;
}

.checkoutProduct-info > button {
    background: rgb(202, 179, 232);
    border: 1px solid;
    border-color: rgb(191, 114, 217) rgb(144, 68, 172) rgb(74, 7, 90);
    margin-top: 10px;
    color: #000;
}

.checkoutProduct-image {
    object-fit: contain;
    height: 200px;
    width: 200px;
}

.checkoutProduct-rating {
    display: flex;
}

.checkoutProduct-title {
    font-size: 20px;
    font-weight: 800;
}