.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(62, 75, 101, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    width: 70px;
    object-fit: contain;
    float: left;
    margin: 0 20px;
    margin-top: 0;
}

.header-avatar-container {
    height: 80px;
}

.header-avatar-icon-container {
    top: 15px;
    position: relative;
    float: left;
}

.header-avatar-icon {
    max-width: 60px;
    border: 5px solid #fff200;
    border-radius: 35px;
}

.header-avatar-text {
    margin: 25px 5px;
    position: relative;
    float: right;
}

.header-avatar-text:hover {
    color: #ffffff;
}

.header-avatar-name {
    text-decoration: none;
    font-size: 26px;
}

.header-avatar-info {
    text-decoration: none;
    font-size: 18px;
}

.header-search-container {
    display: flex;
    flex: 1;
}

.header-search {
    float: right;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header-searchInput {
    float: left;
    height: 10px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-searchIcon {
    padding: 4px;
    height: 22px !important;
    background-color: gold;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
}

@keyframes backgroundColor {
    0% {background-color: rgb(114, 42, 173);}
    30% {background-color: rgb(165, 85, 230);}
    60% {background-color: rgb(214, 163, 255);}
    100% {background-color: rgb(113, 19, 125);}
}

.header-option {
    display: flex;
    flex-direction: column;
    margin : 0 10px;
    color: rgb(63, 0, 115);
}

.header-option:hover {
    animation-name: backgroundColor;
    animation-duration: 1s;
}

.header-optionCart {
    display: flex;
    align-items: center;
    color: rgb(63, 0, 115);
}

.header-optionLine-one {
    font-size: 14px;
}

.header-optionLine-two {
    font-size: 24px;
    font-weight: 800;
}

@media screen and (min-width: 1080px) {
    .open-menu-btn {
        display: flex;
        padding: 10px 15px;
    }
}

/* MOBILE DEVICES */

@media screen and (max-width: 767px) {
    .header {
        max-width: 400px;
        height: 100px;
        display: grid;
    }

    .header-logo {
        float: left;
        width: 35px;
        margin: 0 10px;
    }

    .header-search-container {
        position: relative;
        top: -30px;
    }

    .header-searchInput {
        margin-bottom: 15px;
        float: right;
        width: 100%;
    }

    .header-searchIcon {
        margin-bottom: 15px;
    }

    .header-option {
        margin: 0 6px;
    }

    .header-optionLine-one {
        font-size: 8px;
    }
    
    .header-optionLine-two {
        font-size: 14px;
    }

    .open-menu-btn {
        margin: 0;
        padding: 15px;
        display: flex;
        height: 60px;
        width: 75px;
    }

    .icon-menu-header {
        font-size: 22px;
        position: relative;
        float: left;
    }

    .text-menu-header {
        position: relative;
        float: right;
        font-size: 22px;
    }

    .menu-container {
        position: relative;
        float: left;
        top: 50px;
        height: 50px;
        width: 120px;
    }

    .header-nav {
        position: relative;
        left: 120px;
        bottom: 30px;
        max-width: 230px;
    }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgb(61, 61, 76);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 254, 170);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 0, 255);
}

.sidebar a {
  padding: 10px 8px 10px 32px;
  color: #a9a9a9;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000000;
  background-color: #ffe600;
}

.sidebar-elementSeparator {
    position: relative;
    height: 10px;
    width: 100%;
    background: #21213f;
}

.sidebar .close-menu-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 46px;
  margin-left: 50px;
}

.open-menu-btn {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(44, 0, 81);
  border: none;
}

.open-menu-btn:hover {
  color: white;
  background-color: transparent;
}

.close-menu-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(44, 0, 81);
    padding: 10px 15px;
    border: none;
}

.close-menu-btn:hover {
  color: #ff0000;
  background-color: transparent;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.active {
    background-color: #4e2f7a;
    color: #ffffff;
}

.sidebar-dropdownBtn {
  padding: 10px 8px 10px 32px;
  border: none;
  font-size: 36px;
  color: #a9a9a9;
  background: rgb(61, 61, 76);
  display: block;
  transition: 0.3s;
}

.sidebar a {
    font-size: 24px;
    background-color: #ffffff;
}

.sidebar-dropdownBtn:hover {
    color: #000000;
}

.dropdown-container {
    border-top: 1px solid #9a9a9a;
    position: relative;
}

#first 
#second 
#third {
    height: fit-content;
    display: none;
}

.dropdown-sidebarOption {
    border-bottom: 1px solid #8e8e8e;
}