.home {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #ebebeb;
    margin: 0;
}

.home > .home-container > .home-row {
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.home > .home-container {
    width: 90%;
    top: 15px;
    position: relative;
}

.home > .home-container > .home-banner {
    width: 1300px;
    margin-top: 30px;
    object-fit: contain;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}

/* MOBILE DEVICES */

@media screen and (max-width: 767px) {
    .home {
        max-width: 767px;
    }

    .home > .home-container > .home-banner {
        width: 340px;
    }
}